unpackaged/main/default/flows/Mapping_Vertical_Team_to_GP_Lead_and_Firms_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>trac_DealFlowEmails</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_4_event_0_SA1</name>
        <label>Send Inclusion Emails to FL</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>trac_DealFlowEmails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>sourceObjectsId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>sourceObjectsId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_4</name>
        <label>myWaitAssignment_myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_4</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>GP or Firms Lead is present</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Diversity and Inclusion Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Inclusion_Email_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_4_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_4</name>
        <label>myPreWaitDecision_myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_4</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_4</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Updating rebecca to becky + sriram</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Opportunity].GP_Lead__c, &quot;Jorge&quot;, &quot;Bio&quot; ,
 &quot;Vijay&quot; , &quot;Bio&quot; , &quot;David U&quot; , &quot;Enterprise&quot; ,
  &quot;Martin&quot; , &quot;Enterprise&quot; , &quot;Matt&quot; , &quot;Enterprise&quot; , 
  &quot;Peter&quot; , &quot;Enterprise&quot; , &quot;Kristina&quot; , &quot;Enterprise&quot; , &quot;Alex&quot; , &quot;FinTech&quot; ,  
  &quot;Angela&quot; , &quot;FinTech&quot; , &quot;David G&quot; , &quot;Growth&quot; , 
  &quot;Jeff&quot; , &quot;Consumer&quot; , &quot;Andrew&quot; , &quot;Consumer&quot; , 
  &quot;Connie&quot; , &quot;Consumer&quot; , &quot;Chris&quot; , &quot;Crypto&quot; , 
  &quot;Katie&quot; , &quot;Crypto&quot;, &quot;Anish&quot; , &quot;FinTech&quot;, &quot;Julie&quot; , &quot;Bio&quot; , &quot;Vineeta&quot; , &quot;Bio&quot; , &quot;Sarah&quot; , &quot;Growth&quot; , &quot;Jennifer&quot; , &quot;Enterprise&quot; , &quot;Jon&quot; , &quot;Consumer&quot; , &quot;Sriram&quot; , &quot;Consumer&quot; , 
CASE ([Opportunity].Firms_Lead__c, &quot;Satish&quot; , &quot;Enterprise&quot; , &quot;Jade&quot; , &quot;Enterprise&quot; , &quot;Jennifer&quot; , &quot;Enterprise&quot; , &quot;Matt B&quot; , &quot;Enterprise&quot; , &quot;Joel&quot; , &quot;Enterprise&quot; , &quot;Kimberly Tan&quot; , &quot;Enterprise&quot; , &quot;Peter Lauten&quot; , &quot;Enterprise&quot; , &quot;Frank&quot; , &quot;Enterprise&quot; , &quot;DArcy&quot; , &quot;Consumer&quot; , &quot;Jonathan Lai&quot; , &quot;Consumer&quot; , &quot;Anne&quot; , &quot;Consumer&quot; , &quot;Judy&quot; , &quot;Bio&quot; , 
&quot;Rex&quot; , &quot;FinTech&quot;, &quot;Seema Amble&quot; , &quot;FinTech&quot; , &quot;Matthieu&quot; , &quot;FinTech&quot; , &quot;Ali Yahya&quot; , &quot;Crypto&quot;, &quot;Jamie Sullivan&quot; , &quot;Growth&quot; , &quot;Mehul Mehta&quot; , &quot;Growth&quot; , &quot;Sarah Wang&quot; , &quot;Growth&quot; ,  &quot;Alex Immerman&quot; , &quot;Growth&quot;, &quot;Arianna&quot; , &quot;Crypto&quot;, &quot;Justin&quot; , &quot;Bio&quot;, &quot;Bryan Kim&quot;, &quot;Consumer&quot;, &quot;Jay Rughani&quot;, &quot;Bio&quot;, &quot;Zeya&quot; , &quot;Enterprise&quot; , &quot;Becky&quot; , &quot;Bio&quot; , 
NULL))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8896934099</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.GP_Lead__c}, &quot;Jorge&quot;, &quot;Bio&quot; ,
 &quot;Vijay&quot; , &quot;Bio&quot; , &quot;David U&quot; , &quot;Enterprise&quot; ,
  &quot;Martin&quot; , &quot;Enterprise&quot; , &quot;Matt&quot; , &quot;Enterprise&quot; , 
  &quot;Peter&quot; , &quot;Enterprise&quot; , &quot;Kristina&quot; , &quot;Enterprise&quot; , &quot;Alex&quot; , &quot;FinTech&quot; ,  
  &quot;Angela&quot; , &quot;FinTech&quot; , &quot;David G&quot; , &quot;Growth&quot; , 
  &quot;Jeff&quot; , &quot;Consumer&quot; , &quot;Andrew&quot; , &quot;Consumer&quot; , 
  &quot;Connie&quot; , &quot;Consumer&quot; , &quot;Chris&quot; , &quot;Crypto&quot; , 
  &quot;Katie&quot; , &quot;Crypto&quot;, &quot;Anish&quot; , &quot;FinTech&quot;, &quot;Julie&quot; , &quot;Bio&quot; , &quot;Vineeta&quot; , &quot;Bio&quot; , &quot;Sarah&quot; , &quot;Growth&quot; , &quot;Jennifer&quot; , &quot;Enterprise&quot; , &quot;Jon&quot; , &quot;Consumer&quot; , &quot;Sriram&quot; , &quot;Consumer&quot; , 
CASE ({!myVariable_current.Firms_Lead__c}, &quot;Satish&quot; , &quot;Enterprise&quot; , &quot;Jade&quot; , &quot;Enterprise&quot; , &quot;Jennifer&quot; , &quot;Enterprise&quot; , &quot;Matt B&quot; , &quot;Enterprise&quot; , &quot;Joel&quot; , &quot;Enterprise&quot; , &quot;Kimberly Tan&quot; , &quot;Enterprise&quot; , &quot;Peter Lauten&quot; , &quot;Enterprise&quot; , &quot;Frank&quot; , &quot;Enterprise&quot; , &quot;DArcy&quot; , &quot;Consumer&quot; , &quot;Jonathan Lai&quot; , &quot;Consumer&quot; , &quot;Anne&quot; , &quot;Consumer&quot; , &quot;Judy&quot; , &quot;Bio&quot; , 
&quot;Rex&quot; , &quot;FinTech&quot;, &quot;Seema Amble&quot; , &quot;FinTech&quot; , &quot;Matthieu&quot; , &quot;FinTech&quot; , &quot;Ali Yahya&quot; , &quot;Crypto&quot;, &quot;Jamie Sullivan&quot; , &quot;Growth&quot; , &quot;Mehul Mehta&quot; , &quot;Growth&quot; , &quot;Sarah Wang&quot; , &quot;Growth&quot; ,  &quot;Alex Immerman&quot; , &quot;Growth&quot;, &quot;Arianna&quot; , &quot;Crypto&quot;, &quot;Justin&quot; , &quot;Bio&quot;, &quot;Bryan Kim&quot;, &quot;Consumer&quot;, &quot;Jay Rughani&quot;, &quot;Bio&quot;, &quot;Zeya&quot; , &quot;Enterprise&quot; , &quot;Becky&quot; , &quot;Bio&quot; , 
NULL))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.Global_On_Off_Switch__c.OnProcessBuilder__c ,
[Opportunity].RecordType.Id = &apos;01280000000HfLCAA0&apos;,
OR(
$User.ProfileId = &apos;00e80000001FvNw&apos;, 
$User.ProfileId = &apos;00e80000001G6ty&apos;,
NOT(ISBLANK(TEXT([Opportunity].Firms_Lead__c))),
NOT(ISBLANK(TEXT([Opportunity].GP_Lead__c)))
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.Global_On_Off_Switch__c.OnProcessBuilder__c} ,
{!myVariable_current.RecordType.Id} = &apos;01280000000HfLCAA0&apos;,
OR(
{!$User.ProfileId} = &apos;00e80000001FvNw&apos;, 
{!$User.ProfileId} = &apos;00e80000001G6ty&apos;,
NOT(ISBLANK(TEXT({!myVariable_current.Firms_Lead__c}))),
NOT(ISBLANK(TEXT({!myVariable_current.GP_Lead__c})))
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.Global_On_Off_Switch__c.OnProcessBuilder__c ,
  OR( $Profile.Name = &apos;Investment Team&apos; , $Profile.Name = &apos;Biz Opp Admin&apos; ) , 
  OR( 
    NOT( ISNULL( [Opportunity].Initial_Review_Date__c ) ) , 
    NOT( ISNULL( [Opportunity].Full_GP_Pitch_Meeting_Date__c ) ) , 
    NOT( ISNULL( [Opportunity].GP_Pitch_Meeting_Date__c ) )
  ) , 
  [Opportunity].RecordType.DeveloperName = &apos;Investment_Dealflow&apos; , 
  [Opportunity].Count_of_Pitch_Attendees__c &gt; 0
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.Global_On_Off_Switch__c.OnProcessBuilder__c} ,
  OR( {!$Profile.Name} = &apos;Investment Team&apos; , {!$Profile.Name} = &apos;Biz Opp Admin&apos; ) , 
  OR( 
    NOT( ISNULL( {!myVariable_current.Initial_Review_Date__c} ) ) , 
    NOT( ISNULL( {!myVariable_current.Full_GP_Pitch_Meeting_Date__c} ) ) , 
    NOT( ISNULL( {!myVariable_current.GP_Pitch_Meeting_Date__c} ) )
  ) , 
  {!myVariable_current.RecordType.DeveloperName} = &apos;Investment_Dealflow&apos; , 
  {!myVariable_current.Count_of_Pitch_Attendees__c} &gt; 0
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.Global_On_Off_Switch__c.OnProcessBuilder__c ,
  OR( $Profile.Name = &apos;Investment Team&apos; , $Profile.Name = &apos;Biz Opp Admin&apos; ) , 
  OR( 
    NOT( ISNULL( [Opportunity].Initial_Review_Date__c ) ) , 
    NOT( ISNULL( [Opportunity].Full_GP_Pitch_Meeting_Date__c ) ) , 
    NOT( ISNULL( [Opportunity].GP_Pitch_Meeting_Date__c ) )
  ) , 
  [Opportunity].RecordType.DeveloperName = &apos;Investment_Dealflow&apos; , 
  [Opportunity].Count_of_Pitch_Attendees__c &gt; 0
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.Global_On_Off_Switch__c.OnProcessBuilder__c} ,
  OR( {!$Profile.Name} = &apos;Investment Team&apos; , {!$Profile.Name} = &apos;Biz Opp Admin&apos; ) , 
  OR( 
    NOT( ISNULL( {!myVariable_old.Initial_Review_Date__c} ) ) , 
    NOT( ISNULL( {!myVariable_old.Full_GP_Pitch_Meeting_Date__c} ) ) , 
    NOT( ISNULL( {!myVariable_old.GP_Pitch_Meeting_Date__c} ) )
  ) , 
  {!myVariable_old.RecordType.DeveloperName} = &apos;Investment_Dealflow&apos; , 
  {!myVariable_old.Count_of_Pitch_Attendees__c} &gt; 0
)</expression>
    </formulas>
    <interviewLabel>Mapping_Vertical_Team_to_GP_Lead_and_Firms_Lead-12_InterviewLabel</interviewLabel>
    <label>Mapping Vertical Team to GP Lead and Firms Lead</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>GP Lead push</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vertical team</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Vertical_team__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8896934099</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myPreWaitDecision_myWait_myRule_4</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_4</name>
        <label>myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_4_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Inclusion_Email_Date__c</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_4_event_0</label>
        </waitEvents>
    </waits>
</Flow>
